*{
    padding: 0;

}
#barra{
    background-color: black;
}
body {
    background-color: beige;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
h1{
    display: flex;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    font-style: oblique;
}
img {
    width: 150px;
    padding: 5px;
    margin: 5px;
    border: dashed chocolate;
}
.yo {
    color: chocolate;
    font-size: 20px;
    font-weight: bold;
    background-color: aquamarine;
    display: block;
}
h2 {
    color: chocolate;
    font-weight: bold;
}
.lista1 {
    display: flex;
    justify-content: center;
    color: brown;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}
.lista2 {
    display: flex;
    justify-content: center;
    color: brown;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}
footer {
    display: flex;
    background-color: blanchedalmond;
    border: solid;
    border-color: bisque;
    color: aliceblue;
    height: 80px;
    justify-content: center;
    align-items: center;
}
.footer {
    border: solid;
    border-color: black;
    max-height: 500px;
    height: 200px;
}
h3 {
    padding-top: 100px;
    padding-bottom: 40px;
    font-weight: bold;
    font-size: 40px;
    color: tomato;
}
a {
    color: chocolate;
    font-weight: bold;
}
.porta {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin: 40px;
    gap: 20px;
}
.foto {
    width: 260px;
    height: 240px;
}
.card {
    background-color: goldenrod;
}
.card-text {
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    }
    .nombre {
        background-color: aliceblue;
        color: black;
        border-radius: 8px;
        font-weight: bold;
        padding: 5PX;
    }